<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <h3 class="font-weight-bold">Thống kê
                </h3>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 grid-margin transparent">
        <div class="row">

            <%result.forEach((item)=>{%>

                <%-item%>
                <br>

            <%})%>
        </div>
    </div>
</div>